header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
}

.titleWrapper {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.LogoutButtonContainer {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 100px;
}

.tabItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.form {
  display: flex;
  justify-content: center;
}