header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
}

.titleWrapper {
  padding: 1rem 0rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.LogoutButtonContainer {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 100px;
}

.tabItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}