header {
  display: flex;
  position: sticky;
  justify-content: center;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.LogoutButtonContainer {
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 100px;
}