footer {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  width: 80%;
}

footer > div > p {
  margin-left: 5px;
}

.MerFooterItem {
  height: 50px;
  width: 100%;
  border: 1px solid;
  margin-right: -1px;
  color: white;
  background-color: #222427;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
