body {
  background-color: #222427;
}

.MerComponent {
  background-color: #222427;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

#MerTextInput {
  display: block;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  padding: 16px;
  color: black;
  width: 300px;
}

#MerInputLabel {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4em;
  cursor: default;
  align-items: flex-start;
}

#MerButton {
  /* color: var(--alias-color-text-inverse-default); */
  background-color: #da3e50;
  color: #222427;
  font: inherit;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  display: inline-flex;
  -webkit-box-align: center;
  /* align-items: center; */
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  line-height: 1.4em;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  /* vertical-align: middle; */
  word-break: break-word;
  border-color: transparent;
  /* border-style: solid; */
  /* border-width: 1px; */
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color, fill;
}

#MerDisableButton {
  /* color: var(--alias-color-text-inverse-default); */
  background-color: #575757;
  color: #222427;
  font: inherit;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  display: inline-flex;
  -webkit-box-align: center;
  /* align-items: center; */
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  line-height: 1.4em;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  /* vertical-align: middle; */
  word-break: break-word;
  border-color: transparent;
  /* border-style: solid; */
  /* border-width: 1px; */
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color, fill;
}

.Title {
  background-color: #222427;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.Listing {
  width: 100%;
}

.ItemList {
  background-color: #222427;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.ListingForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.ItemDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.UserProfile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}
